<main>
    <form class="playQuiz" method="POST">
        <div class="quizHead d-flex justify-content-between align-items-center">
            <h2 class="quizName text-center">Quiz #1</h2>
        </div>

        {{!-- Button to add a new question amd answer into the database--}}
        <div class="row">
            <div class="col-6 d-flex justify-content-end">
                <a href="/addquestion" type="button" class="btn btn-secondary align-self-center">+Add</a>
            </div>
        </div>
        {{!--End of button to add new question and answer --}}

        {{!-- Table to display the questions and answers --}}

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    </th>{{!-- delete if id is not needed--}}
                    <th scope="col">Question</th>
                    <th scope="col">Answer</th>
                    <th scope="col" class="text-end">Delete/Edit</th>
                </tr>
            </thead>

            <tbody>
                {{#each rows}}
                <tr>

                    <th scope="row">{{this.card_id}}</th>{{!-- delete if id is not needed--}}
                    <td>{{this.question}}</td>
                    <td>{{this.answer}}</td>
                    <td class="text-end">
                        <a href="/editcard/{{this.card_id}}" type="button" class="btn btn-light btn-small"><i
                                class="bi bi-pen"></i></a>
                        <a href="edit/{{this.card_id}}" type="button" class="btn btn-light btn-small"><i
                                class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </form>
</main>